@CHARSET "ISO-8859-1";

body{ 
	  background: #E4F1FE ;
	  font-family: "Tahoma" ;
	  margin:0px;
	  padding: 0px;	
}

form{
  position: relative;
  z-index: 1;
  background: #FFF;
  width: 600px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

form input{
  font-family: "Tahoma", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;

  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea{
	margin: 0px;
	width: 346px;
	heigth: 165px;
	
}

form button{
  font-family: "Tahoma", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #448ed3;
  width: 60%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  margin: 20px 0 0;
}

form button:hover{
	background-color: #3D7FBD; 
}

.setor{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	white-space: nowrap;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.endereco{
	width: 360px;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.endereco input{
	border-radius: 5px;
	border: 1px solid #448ed3;
}

textarea{
	border: 1px solid #448ed3;
	border-radius: 6px;
}

button{
	border-radius: 4px;
}